* {
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar {
    background-image: url('../img/imagen_nav.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

.nav {
    width: 100%;
}

.nav > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar-brand {
    color: #333; 
    transition: color 0.3s; 
}

.navbar-brand:hover {
    color: #FFAC64; 
}

.navbar-nav .nav-link {
    color: #333; 
    transition: color 0.3s; 
}

.navbar-nav .nav-link:hover {
    color: #FFAC64; 
}

.contenedor .container {
    background-image: url('../img/imagen-formulario-generos.jpg'); 
    background-size: cover; 
    color: white; 
    padding: 20px;
    text-align: center;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de la ventana del navegador */
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
}

address {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 0px;
    margin-top: 10px;
}

.rows > address > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.h2-genero {
    color: #333; 
    font-family: 'Times New Roman',sans-serif;
}

.h2-genero:hover {
    color: #ff6600; 
}

.titulo {
    text-align: center; 
    margin: 30px;
    position: relative;
    font-family: 'Times New Roman',sans-serif;
}

.accion-texto {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
}

.form-label {
    font-weight: bold;
    color: #222; 
}

.negrita {
    font-weight: bold; 
}

.rojo {
    color:red;
}

.verde {
    color: green;
}

main {
    margin-top: 90px;
    flex-grow: 1;
}

.div-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-libros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 15px 20%;
    background-color: rgb(161, 161, 161);
    background-image: url('../img/imagen-formulario-generos.jpg');
    background-size: cover;
}

.form-libros > button {
    align-self: center;
    width: 40%;
    margin-top: 5px; 
}

.form-div {
    display: flex;
    justify-content: space-around;
}

.form-div > div {
    display: grid;
    width: 100%;
    margin: 7px;
}

.form-div > div > label {
    width: 70%;
    color: #fff;
}

.select > p {
    color: #fff;
}

p {
    margin-bottom: 0%;
}

a {
    text-decoration: none;
    color: black;
}


.sinopsis  {
    display: inline !important;
}

.sinopsis > textarea {
    width: 100%;
    height: 70px;
}

.select {
    justify-content: center;
}

.div-lista {
    width: 100%;
    display: flex;
    justify-content: center;
}


.div-lista > ul > li {
    border: #565e7d solid 1px;
    padding: 10px;
    text-align: center;
    background-color: #18181f;
}

.div-lista > ul > li > a {
    color: white;
}

.lista-libros {
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
}
.tabla-libros {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    width: 100%;
}

.tabla-libros > table {
    width: 80%;
}

.borde {
    border: #565e7d solid 1px;
    border-top: 3cm;
    border-left: 3cm;
    border-right: 3cm;
}

thead > tr > th, tbody > tr > td {
    border: #565e7d solid 1px;
    padding: 10px;
    text-align: center;
    background-color: #18181f;
    color: white;
}

.genero {
    color: white;
}

.div-login {
    margin: 50px;
}

.div-login > form {
    display: grid;
    justify-content: center;
}

.div-login > form > div {
    margin: 5px 10px;
}

.div-login > form > button {
    margin-top: 10px;
}