



.navbar {
    background-image: url('../img/imagen_nav.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño de la barra de navegación */
    background-repeat: no-repeat; /* Evita que la imagen se repita */

}

.navbar-brand {
    color: #333; /* Color de texto predeterminado (gris oscuro) */
    transition: color 0.3s; /* Agrega una transición suave */
}
.navbar-brand:hover {
    color: #FFAC64; /* Color de texto al pasar el ratón (por ejemplo, rojo) */
}

.navbar-nav .nav-link {
    color: #333; /* Color de texto predeterminado (gris oscuro) */
    transition: color 0.3s; /* Agrega una transición suave */
}
.navbar-nav .nav-link:hover {
    color: #FFAC64; /* Color de texto al pasar el ratón (por ejemplo, rojo) */
}





.centrado {
    background-color: black;
    color: white;
    width: 70%; /* Puedes ajustar el ancho según tus necesidades */
    margin: 0 auto; 
    align-items: center;
    
}

.contenedor .col-md-4{
    text-align: center;
    
}

.contenedor {
    background-color: aqua;
    display: flex;
}





